@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');
*{
    margin: 0;
    padding: 0;
}

.body{
    background: url("bg.jpg") no-repeat;
    min-height: 100vh;
    background-size: 100vw 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#score{
    font-size: 3vw;
    position: absolute;
    font-weight: 900;
    top: 50px;
    left: 1vw;
    z-index: 1;
    font-family: 'New Tegomin', serif;
}
#hiscorebox{
    z-index: 1;
    font-size: 3vw;
    position: absolute;
    font-weight: 900;
    top: 50px;
    right: 1vw;
    font-family: 'New Tegomin', serif;
}
#board{
    background: radial-gradient(rgb(189, 240, 178), rgb(117, 212, 117) );
    width: 90vmin;
    height: 92vmin;
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: repeat(18, 1fr);
}

.head{
    background-color: rgb(87, 14, 136);
    border: .25vmin solid white;
    border-radius: 30%;
}
.snake{
    background-color: rgb(142, 101, 209);
    border: .25vmin solid white;
    border-radius: 40%;
}

.food{
    background-color: red;
    border: .25vmin solid white;
    border-radius: 50%;
}

.btns{
    visibility: hidden;
    position: fixed;
}
#up{
    grid-area: up;
    display: block;
    margin: auto;
}
button{
    width: 12vw;
    font-size: 5vw;
    margin: 5px;
    font-weight: 600;
    border-radius: 10px;
}
button:hover{
    background-color: rgb(124, 124, 124);
}
@media screen and (max-width: 600px) {
    #score{
        font-size: 1.7rem;
        top: 1vh;
        left: 50vw;
        transform: translateX(-50%);
    }
    #hiscorebox{
        font-size: 1.7rem;
        top: 8vh;
        right: 50vw;
        transform: translateX(50%);
    }
    .btns{
        visibility: visible;
        bottom: 3vh;
        position: absolute;
    }
    button{
        width: 25vw;
        height: 8vh;
        font-size: 1rem;
        padding: 1vh;
        margin: 5px;
        font-weight: 600;
    }
}
@media screen and (min-width: 600px) and (max-width: 900px) {
    #score{
        font-size: 2rem;
        top: 5vh;
        left: 6vw;
    }
    #hiscorebox{
        font-size: 2rem;
        top: 5vh;
        right: 6vw;
    }
    .btns{
        visibility: visible;
        bottom: 2vh;
        right: 1rem;
    }
    button{
        width: 5rem;
        font-size: 1rem;
        padding: 5px;
        margin: 5px;
        margin-left: 10px;
        font-weight: 600;
    }
}